.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

.form label {
    display: none;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    line-height: 20px;
    font-size: 18px;
    
}

.form textarea {
    min-height: 60px;
    height: 100px;
    max-height: 240px;
    resize: vertical;
}