/*base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../../css/3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* custom style goes below this comment line */

/* HERO-start */
section.bg-main {
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.hero > .logo {
    height: 60px;
}

.hero > .title {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.hero > .description {
    font-size: 20px;
}

.subscribe {
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.form.subscribe > input {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.form.subscribe ::placeholder {
    color: #fff;
}
/* HERO-end */

/* MAIN-start */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-column {
    width: 50%;
}

.right-column { 
    width: 40%;   
}

.section-title {
    font-size: 20px;
    text-transform: uppercase;
}

.section-description {
    font-size: 18px;
    color: #777;
}

.section-description a {
    color: red;
    text-decoration: none;
}
.section-description > a:hover {
    text-decoration: underline;
}


/* MAIN-end */

/* FOOTER-start */
footer.container {
    padding-top: 0;
}


.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}

.socials a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}

.socials a:hover {
    background-color: #fff;
    color: var(--main-color);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fffa;
    font-size: 18px;
    line-height: 1.6;
}

.footer-bottom > .logo {
    height: 60px;
    margin: 40px 0;
}

.futeriukai > * {
    position: relative;
}

.footer-bottom > .futeriukai {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-bottom a {
    color: #fff;
}

.futeriukai > *::after {
    content: '';
    display: inline-block;
    width: 0.8px;
    height: 20px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}

.futeriukai > *:last-child::after {
    display: none;
}

/* FOOTER-end */

@media (max-width: 700px) {
    .main-content {
        flex-direction: column;
        gap: 60px;
    }
    .column {
        width: 100%;
    }
    .right-column {
        width: 100%;
    }
}

@media (min-width: 1100px) {
    .form > input {
        width: calc(50% - 10px);
    }
}